<div class="panel panel-default" style="width: 371px;">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a data-toggle="collapse" href="#{{id}}">{{id}}</a>
    </h4>
  </div>
  <div id="{{id}}"
    data-id="{{id}}"
    data-baseurl="{{baseurl}}"
    class="panel-collapse collapse"
  >
    <div class="panel-body">
      Collection Bands:
      <ul id="rangecollection">
        {{#each rangetypes}}
          <li style="list-style: circle; !important">
            {{#with this}}
            <ul
              data-name="{{name}}"
              data-description="{{description}}"
              data-allowedValues="{{allowedValues}}"
            >
              <li>Product Server: {{baseurl}}</li>
              <li>Name: {{name}}</li>
              <li>Description: {{description}}</li>
              <li>Range: {{allowedValues}}</li>
              <li>Nil Values:
                <ul>
                  {{#each nilValues}}
                    {{#with this}}
                      <li>{{value}}</li>
                    {{/with}}
                  {{/each}}
                </ul>
              </li>
              <li>Unit of Measurement: {{uom}}</li>
            {{/with}}
            </ul>
          </li>
        {{/each}}
      </ul>
    </div>
  </div>
</div>
